.projects {
    background-color: #909090;
    background-image: url("../images/kcart.png");

    min-height: 100vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.project_description {
    text-align: center;
    padding: 10px 200px;
}
.color_coral {
    color: coral;
}
.project_description > p{
    margin: 30px;
    text-align: justify;
}
.color_blue {
    color: #000b18;
    text-decoration: none;
}